*{
  margin: 0;
 padding: 0;
}

.fondo_principal{
  background: #f5ebd2;
}

.navbar{
  background: #f5ebd2;
}
.container-navbar{
  width: 60%;
}

.color_navbar{
  color: #4f2414;
  font-weight: bold;
}

h1{
  color: #4f2414;
}
h2{
  text-align: center;
  color: #4f2414;
}

h3{
  text-align: center;
  color: #4f2414;
}

h4{
  color: #4f2414;
}

h5{
  color: #4f2414;
}

p{
  color: #4f2414;
}

.btn{
  background-color: #612f1d;
  border-color: #612f1d;
}


.btn-outline-primary:disabled {
    color: #7cc;
    background-color: transparent
}
.card{
  margin: 20px;
}

.cupones{
  padding-top: 120px;
  padding-bottom: 120px;
}

.fondo_rojo{
  background: #d72300;
}

.fondo_footer{
  background: #502314;
}